.contato-container {
  padding: 2rem 0;
}

.titulo-contato,
.titulo-login {
  font-size: 1.5rem;
  font-weight: bold;
}

.borda {
  border: 2px solid #8000ff;
}

.sombra {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.txt-roxo-custom {
  color: #8000ff;
}

.bg-roxo-custom {
  background-color: #8000ff;
}

.form-custom {
  width: 75%;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  background-color: #000;
  color: #fff;
  border: none;
}

.form-custom::placeholder {
  color: #ccc;
}

.btn-custom {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 30px;
  background-color: #8000ff;
  color: #fff;
  font-weight: 600;
  transition: background-color 0.3s;
}

.btn-custom:hover {
  background-color: #6200cc;
}

/* Responsividade */
@media (max-width: 768px) {
  .mt-100 {
    margin-top: 2rem !important;
  }

  .titulo-contato,
  .titulo-login {
    font-size: 1.2rem;
    padding: 0 1rem;
  }

  .form-custom,
  .btn-custom {
    width: 90% !important;
  }

  .box-form {
    width: 100% !important;
  }
}
