.rodape-container {
  border-top: 1px solid #444;
  gap: 1rem;
}

.rodape-logo {
  font-size: 2rem;
  font-weight: bold;
}

.txt-roxo-custom {
  color: #8000ff;
}

.largura-rodape {
  width: 50%;
  align-items: end;
}

.fonte-pequena {
  font-size: 0.9rem;
  opacity: 0.7;
}

.margem-rodape {
  margin-top: 5rem;
}

@media (max-width: 768px) {
  .rodape-logo {
    font-size: 1.5rem;
  }

  .largura-rodape {
    width: 100%;
    align-items: center;
  }

  .rodape {
    margin-top: 5rem;
  }

  .fonte-pequena {
    text-align: center;
  }

  .rodape-container {
    flex-direction: column;
    align-items: center;
  }
}
