.trash-can:hover{
    color: crimson;
    
}

.status-booked{
    background-color: rgb(183, 0, 255)
}
.status-awaiting{
    background-color: rgb(250, 124, 239)
}
.status-notified{
    background-color: rgb(22, 63, 226)
}
.status-processing{
    background-color: rgb(76, 71, 77)
}

.dash-max-height{
    max-height: 660px;
}

.loading-box{
    height: 50vh !important;
    width: 300px;
}

.spinner-size{
    width: 50px !important;
    height: 50px !important;
}

@media screen and (min-width: 600px){
    .spinner-size{
        width: 100px !important;
        height: 100px !important;
    }
}

@media screen and (max-width: 1230px) {
    .tabela-responsiva{
        width: 100% !important;
    }
}

.modal-height {
    height: 200px !important;
}

.rdtPicker{
    cursor: pointer !important;
}

.modal-button-confirm{
    display: inline-block;
    width: 100%;
    max-width: 260px;
    padding: 2px; 
    border-radius: 12px;
    background: none; 
    position: relative; 
    box-sizing: border-box;
    color: white !important;
}

.modal-button-confirm::before{
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 12px;
    padding: 2px; 
    background: linear-gradient(90deg, #6d5dfc, #fc67fa);
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.hover-row{
    cursor: pointer;
}

.img-detail{
    width: 120px;
    height: 120px;
}

.detail-vertical-divider{
    height: 120px;
    width: 2px;
    background-color: #6E24B6;
}

.detail-min-w{
    min-width: 300px !important;
}

.detail-bio-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.detail-title{
    color: #6E24B6;
}

.detail-x-divider{
    height: 2px;
    width: 100%;
    align-self: center;
    background-color: #6E24B6;
}

.card-exame-detalhe{
    height: 100px;
}

.dashboard-divider{
    height: 3px;
    background-color: black;
}