.text-gradient {
  background: linear-gradient(90deg, #A25DDC, #F9578A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-border {
  padding: 2px;
  border-radius: 12px;
  background: linear-gradient(90deg, #A25DDC, #F9578A);
  display: inline-block;
  width: 100%;
}

.inner {
  background-color: white;
  border-radius: 10px;
  padding: 24px;
  height: 100%;
  overflow-y: auto;
}

.text-purple {
  color: #A25DDC;
}

.border-purple {
  border: 1px solid #E9B4F8;
}

.custom-shadow {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.05);
}

.scroll-area {
  max-height: 500px;
  overflow-y: auto;
  padding-right: 8px;
}

.height-total {
  height: 140px;
}

.height-max {
  max-height: 500px;
}
.card-altura-ajustada {
  min-height: 200px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 469px) {
  .card-content-bootstrap {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
}
@media (min-width: 576px) {
  .card-content-bootstrap {
    flex-direction: row !important;
    align-items: center !important;
  }
}

.btn-gradient-text {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  margin: 0;
  border: none;
  cursor: pointer;
  font-size: 1rem;

  /* Fundo branco inicial */
  background-color: #fff;
  border-radius: 10px; /* Um pouco menor que o wrapper para a borda aparecer */

  /* Texto com gradient */
  background: linear-gradient(90deg, #6d5dfc, #fc67fa);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transition: background-color 0.3s ease, color 0.3s ease, -webkit-text-fill-color 0.3s ease;
  position: relative; 
}

.btn-gradient-border {
  display: flex !important;
  width: 800px !important;
  padding: 2px; 
  border-radius: 12px;
  background: none; 
  position: relative; 
  box-sizing: border-box;
}


.btn-gradient-border::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 2px; 
  background: linear-gradient(90deg, #6d5dfc, #fc67fa);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.btn-gradient-border + .btn-gradient-border {
  margin-top: 0.75rem;
}


.btn-gradient-border:hover .btn-gradient-text {
  background-color: transparent; 
  background: linear-gradient(90deg, #6d5dfc, #fc67fa); 
  color: #fff; 
  -webkit-text-fill-color: #fff; 
}