.contato-container {
  padding: 2rem 0;
}

.titulo-contato,
.titulo-login {
  font-size: 1.5rem;
  font-weight: bold;
}

.altura-box {
  height: 65%;
}

.borda {
  border: 1px solid #6E24B6 !important;
  border-radius: 24px 24px;
}

.sombra:hover {
  transform: scale(1.005);
  box-shadow: 0 4px 10px #6E24B6;
}

.txt-roxo-custom {
  color: #6E24B6;
}

.bg-roxo-custom {
  background-color: #6E24B6;
}

.form-custom {
  width: 75%;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  background-color: #000;
  color: #fff;
  border: none;
}

.form-custom::placeholder {
  color: #ccc;
}

.btn-custom {
  padding: 0.5rem 1rem;
  border-radius: 30px;
  font-weight: 600;
  border: 2px solid #6200cc;
  color: #6200cc;
  transition: background-color 0.3s;
}

.btn-custom:hover {
  background-color: #6200cc;
  color: white;
}

.botao-login {
  color: #6200cc;
}

.botao-login:hover {
  color: white;
}

.largura-foto-contato {
  width: 100%;
}

.quebra-foto{
  min-width: 450px;
}

#contato{
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px){
  #contato{
    flex-direction: column !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }

  .quebra-foto{
    min-width: 0px;
  }

  .largura-form{
    width: 300px !important;
  }
}

@media (max-width: 928px){
  #contato{
    flex-direction: column !important;
  }

  .quebra-foto{
    width: 80% !important;
    justify-content: center;
    align-items: center;
  }
}


@media (max-width: 768px) {
  .largura-foto-contato {
    width: 90%;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .sem-altura {
    margin-top: 0;
  }

  .titulo-contato,
  .titulo-login {
    font-size: 1.2rem;
    padding: 0 1rem;
  }

  .largura-form {
    width: 100%;
  }

  .form-custom {
    width: 100%;
    font-size: 0.8rem;
  }

  .btn-custom {
    width: 100%;
  }
}